{% extends "expert_layout.html" %} <!-- Will simply inherit firm's layout-->
{% block content %}
<h1 class="m-0 font-weight-bold text-info">Expert Portal</h1>
<br>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <h1 class="m-0 font-weight-bold text-gray-700">Claimants</h1><br>
                <img src="static/cl_list.PNG" onclick="location.href='expert.html'">
            </div>
        </div>
    </div>
</div>
{% endblock %}