{% extends "non_home_layout.html" %}
{% block content %}
<!DOCTYPE html>
<div class="container">

    <p>
    <h2>Kilmore Bushfire Class Action</h2>
    <ul>
        <div class="progress">
            <div class="progress-bar bg-success" style="width:20%">
                Registered
            </div>
            <div class="progress-bar bg-warning" style="width:20%">
                Documents Verified
            </div>
            <div class="progress-bar bg-danger" style="width:40%">
                Claims Settled
            </div>
            <div class="progress-bar bg-gray-400   " style="width: 20%"> Settlement Distributed</div>
        </div>
    </ul>

    <div class="row">
        <div class="col">

            <h3>Case Update</h3>


            <img src="static/img/fire.png" alt="Barca" align="left" class="img-responsive" style="padding: 10px"
                 height="130px"/>
            The Settlement Administration of the Kilmore East – Kinglake & Murrindindi – Marysville Black Saturday
            Class Actions is now substantially completed. The primary outstanding issue to be resolved is a dispute
            as to the taxation of the settlement monies, which has proceeded to litigation in the Federal Court of
            Australia.

            The Settlement Administration has been overseen by the Supreme Court of Victoria and the Scheme
            Administrator has provided regular updates to the Court by attending case management hearings and filing
            written materials containing information about the Settlement Administration and its progress.
        </div>
        <div class="col"><h3>Documents Submitted:</h3>

            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Medical Documents</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Land Documents</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Third Party Funding Documents</td>
                    <td>✘</td>
                </tr>
                </tbody>
            </table>



        </div>


    </div>
</div>
{% endblock %}
