{% extends "expert_layout.html" %} <!-- Will simply inherit firm's layout-->
{% block content %}
<h1 class="m-0 font-weight-bold text-info">Expert Portal</h1>
<br>
<div class="row" style="margin-bottom: 20px;">

    <!-- Total Plantiffs -->
    <div class="col-auto">
        <div class="card border-left-primary shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Potential Claimant?</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">YES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-success shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Age</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-info shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Type Of Loss</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">PERSONAL INJURY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-warning shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Injury Type</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">3RD DEGREE BURNS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- Total Plantiffs -->
    <div class="col-auto">
        <div class="card border-left-warning shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Injury Type</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">SMOKE INHALATION</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-success shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sex</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">MALE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-danger shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Long Term Health Injury
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">YES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-auto">
        <div class="card border-left-grey shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">Hospital Bills</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$15,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="p-5">
        <img src="static/hospital_banner.png" width="65%"/>
        <p>
            <br/>
            <span style="background-color:#dea2f2">The total surgical costs for a broken foot and medicine and anesthesia were over $5,000. Excluding cost of labour and salary of nurses. </span>Over
            20 copy-number-dependent chromosomal regions thatare recurrently associated with the development of CDH have
            been identiﬁed (5 – 7). Some of these chromosomal regionscontain genes that have been clearly implicated in
            the develop-ment of CDH based on both mouse models of CDH and theidentiﬁcation of deleterious changes in
            individuals withCDH. These genes include the zinc ﬁnger protein, multitype2 (
            ZFPM
            2
            , <span
                style="background-color:#dea2f2">the cost of surgical operation for 3rd degree burns were $5,000</span>
            formerly known as
            FOG2
            ) gene on 8q22 and theWilms tumor 1 (
            WT1
            ) gene on 11p13 (8 – 13). Other regionscontain genes that have been implicated in the developmentof CDH
            based on mouse models alone. The nuclear receptor subfamily 2, Group F, Member 2 (
            NR2F
            2
            ,
            formerly knownas
            COUP-TFII
            ) gene, for example, is located in the minimallydeleted region for CDH on chromosome 15q26.2.
            Conditionalablation of
            Nr2f2
            <span style="background-color:#dea2f2">The total hospital bill for this case encompasses $5,000 for hospital stay. </span>
            in the foregut mesenchyme, including the post-hepatic mesenchymal plate, is associated with a high
            in-cidence of posterolateral CDH in mice (14). However, to date,no clearly deleterious changes in
            NR2F2
            have been identiﬁed in individuals with CDH, despite efforts to identify suchchanges (15)
    </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="p-5">
        <img src="static/smoke_banner.png" width="70%"/>
        <div class="col-auto">
            <br/>
            <img src="static/lung.png" width="30%"/>
        </div>
        <p style="word-wrap: break-word">
            <br/>
            Of treated patients with tumor available for testing, 252 patients (88%) of 288 were evaluable for <span
                style="background-color:#f6c23e">PD-L1 expression and 98 patients (82%) </span>of 120 for TMB. ORR was
            30% overall and 41% and 15% in patients with 1% or greater and less than 1% <span
                style="background-color:#f6c23e">tumor PD-L1 expression, respectively. ORR increased with higher TMB, plateauing at 10 or more mutations/megabase</span>
            (mut/Mb). Regardless of PD-L1 expression, ORRs were higher in patients with TMB of 10 or more mut/Mb (n =
            48: PD-L1, ≥ 1%, 48%; PD-L1, < 1%, 47%) versus TMB of fewer than 10 mut/Mb <span
                style="background-color:#f6c23e">(n = 50: PD-L1, ≥ 1%, 18%; PD-L1, < 1%, 5%), and progression-free survival was longer in patients with TMB of 10 or more mut/Mb versus TMB of fewer than 10 mut/Mb (median, 7.1 v 2.6 months). Grade 3 to 4 treatment-related adverse events occurred in 29% of patients.</span>
    </div>
</div>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="p-5">
        <img src="static/age_banner.jpg" width="60%"/>
        <p>
            <br/>
            <span style="background-color:#93f2cf">Results: This section begins with a description of the subjects that were included and excluded from the study. For those excluded, provide the reason for their exclusion. Next, list the frequencies of the most important outcome variables. </span>If
            possible, present comparisons of the outcome variables between various subgroups within the study (treated
            vs. untreated, young vs. old, male vs. female, and so forth). This type of data can be efficiently presented
            in a table, which is an excellent use of space. But before doing this, check the rules to see if tables can
            be used in the abstract. Numerical results should include standard deviations or 95% confidence limits and
            the level of statistical significance. If the results are not statistically significant, present the power
            of your study (beta-error rate) to detect a difference.

            Conclusion: State concisely what can be concluded and its implications. <span
                style="background-color:#93f2cf">This person's Age is 25 of years old, born 1994 Jan 14. </span>The
            conclusions must be supported by the data presented in the abstract; never present unsubstantiated personal
            opinion. If there is room, address the generalizability of the results to populations other than that
            studied and the weaknesses of the study.


            Avoid the use of medical jargon and excessive reliance on abbreviations. <span
                style="background-color:#93f2cf">Limit abbreviations to no more than three and favor commonly used abbreviations. Always spell out the abbreviations the first time they are mentioned unless they are commonly recognized (e.g., CBC).</span>

        </p>
    </div>
</div>
{% endblock %}
