{% extends "layout_firm.html" %}
{% block content %}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="p-5">
            <div class="text-left">
                <h2 class="h1 mb-4 text-capitalize">At a Glance...</h2>
            </div>
            <div class="row">
                <!-- Experts -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> No. Experts
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">35</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-gavel fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Total Reviewal Time -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Reviewal
                                        Time
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">784 hour(s)</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-gavel fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Average Time per claimant -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Billable
                                        Billable Hours per
                                        Claimant
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$1235.67</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hours graph-->
            <img src="static/img/hours_graph.png" class="img-fluid" alt="Responsive image">

        </div>
    </div>
</div>
</div>

{% endblock %}