{% extends "layout.html" %}
{% block content %}


<div class="row">

    <!-- Total Plantiffs -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Plantiffs</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">7,692 person(s)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-male fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Class Actions -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Active Class Actions
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">72 case(s)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-gavel fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Litigation Success -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Litigation Success</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">12 case(s)</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-gavel fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Money Won -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Money Won</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$42,728,129</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flexbox">

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="{{ url_for('signup') }}">Kilmore East Bushfire</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="templates/signup_form.html">Misappropriation
                    Of Taxpayer Funds1</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="{{ url_for('signup') }}">Misappropriation
                    Of Taxpayer Funds1</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flexbox">

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="{{ url_for('signup') }}">Misappropriation
                    Of Taxpayer Funds1</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="{{ url_for('signup') }}">Misappropriation
                    Of Taxpayer Funds1</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- CARD TITLE -->
        <div class="card shadow mb-4">
            <div class="card-header py-3" href="#">
                <h5 class="m-0 font-weight-bold text-primary card-title-link"><a href="{{ url_for('signup') }}">Misappropriation
                    Of Taxpayer Funds1</a></h5>
                <div class="m-0 versus-info">v. Trump Administration.</div>
                <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
            </div>

            <!-- CARD SPECS -->
            <div class="row" style="padding-top: 5%">
                <div class="column card-specs-title">
                    TYPICAL<br/>SETTLEMENT
                    <h5 class="card-specs-desc">Varies</h5>
                </div>
                <div class="column card-specs-title">
                    SETTLEMENT<br/>DATE
                    <h5 class="card-specs-desc">27/03/19</h5>
                </div>
                <div class="column card-specs-title">
                    PROOF<br/>REQUIRED?
                    <h5 class="card-specs-desc">YES</h5>
                </div>
            </div>

            <!-- CARD PARAGRAPH -->
            <div class="card-body">
                This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive
                of tanning talon in order to become an orange cheeto
            </div>

            <!-- CARD SOCIALS -->
            <div class="py-3" href="#">
                <div class="row" style="padding-top: 2%; padding-bottom: 2%">
                    <div class="column card-socials">
                        <i class="fab fa-twitter fa-2x text-info"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fab fa-facebook fa-2x text-primary"></i>
                    </div>
                    <div class="column card-socials">
                        <i class="fas fa-envelope fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
