{% extends "layout.html" %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Our Metrics</h1>
</div>

<div class="row">

  <!-- Total Plantiffs -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Plantiffs</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">7,692 person(s)</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-male fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Active Class Actions -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Active Class Actions</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">72 case(s)</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gavel fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Litigation Success -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Litigation Success</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">12 case(s)</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gavel fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Money Won -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Money Won</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$42,728,129</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-6">

    <!-- Default Card Example -->
    <div class="card shadow mb-4">
      <a href="home.html">
      <div class="card-header py-3" href="#">
        <h5 class="m-0 font-weight-bold text-primary">Misappropriation Of Users' Names And Likenesses</h6>
        <div class="m-0 versus-info">v. Facebook Inc.</div>
        <div class="m-0 plantiff-info">King & Wood Mallesons</div>
      </div>
      <div class="card-body">
        The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
      </div>
      </a>
    </div>

    <!-- Basic Card Example -->

    <div class="card shadow mb-4">
      <a href="home.html">
      <div class="card-header py-3" href="#">
        <h5 class="m-0 font-weight-bold text-primary">USA Government Shutdown</h6>
        <div class="m-0 versus-info">v. Trump & Republicans.</div>
        <div class="m-0 plantiff-info">Minter Ellison</div>
      </div>
      <div class="card-body">
        Suing for the shutdown of the USA government that resulted in grounded flights, inconveniences, and loss of economic activity
      </div>
      </a>
    </div>


  </div>

  <div class="col-lg-6">

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
      <a href="home.html">
      <div class="card-header py-3" href="#">
        <h5 class="m-0 font-weight-bold text-primary">Funding And Arming Known Terrorist Organizations</h6>
        <div class="m-0 versus-info">v. Unknown Inc.</div>
        <div class="m-0 plantiff-info">Mills Oakley</div>
      </div>
      <div class="card-body">
        This is a litigation against...
        This is for....
        random words
      </div>
      </a>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
      <a href="home.html">
      <div class="card-header py-3" href="#">
        <h5 class="m-0 font-weight-bold text-primary">Misappropriation Of Taxpayer Funds</h6>
        <div class="m-0 versus-info">v. Trump Administration.</div>
        <div class="m-0 plantiff-info">Gordon Slater Lawyers</div>
      </div>
      <div class="card-body">
        This litigation is against the Trump administration for embezelling taxpayer funds for his use excessive of tanning talon in order to become an orange cheeto
      </div>
      </a>
    </div>

  </div>

</div>
{% endblock %}
