{% extends "layout_firm.html" %}
{% block content %}
<head>
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

</head>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <h1 class="m-0 font-weight-bold text-gray-700">Update Claimants</h1><br>

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file"><span>Add Attachments: </span><input type="file"
                                                                                                multiple/></span>
                    <span class="fileinput-filename"></span><span class="fileinput-new"></span>

                </div>
                <br>
                <textarea rows="20"
                          cols="100">5 April 2019<br><br>Dear Ms Smith,<br><br><b>RE: MIRANDA FINCH V CONSTRUCTCORP (VID 1234/2018)</b><br>
<br>We are writing to you as a group member of the Kinglake class action, initiated by Miranda Finch against ConstructCorp.
                    <br><br>While this notice is publicly available, we <b>enclose</b> for your convenience the Notice to Class Action Group Members, regarding the class action and options regarding the opt-out process.
                        <br><br>We also <b>enclose</b> an Opt Out Notice (Form 21), which must be completed if you wish to opt out of the class action. We note your Opt Out Notice will be effective if completed and submitted by 5 May 2019.
                    <br><br>If there is anything in this notice that you do not understand, you should seek legal advice.
                    <br><br>Kind regards,
                    <br><br>The Cynapse team
</textarea>
                <br>
                <embed src="static/Message notification_Opt out notice.pdf" width="820px" height="950px"/>
                <br><br>
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='firm.html'">Send
                    Communication
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}