{% extends "non_home_layout.html" %}
{% block content %}
<!-- Page Heading -->
<!DOCTYPE html>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                      <h1 class="m-0 font-weight-bold text-primary">Plaintiff Questionnaire</h1><br/>
                      
                      </br/>
                <form role="form">
                    <div class="form-group">
                        <label for="email">Q1: Have you suffered psychological harm?</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q2: Have you suffered physical harm?</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q3: How much damage occured to your property?</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q4: Please fill in any other damage/harm/disadvantage you have faced</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <form class="md-form">
                        <div class="file-field">
                            <div class="btn btn-pink btn-rounded btn-sm float-left">
                                <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Medical Certificates</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                            </div>
                        </div>
                        <div class="file-field">
                            <div class="btn btn-pink btn-rounded btn-sm float-left">
                                <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Police Reports</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                            </div>
                        </div>
                        <div class="file-field">
                            <div class="btn btn-pink btn-rounded btn-sm float-left">
                                <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Any Other Evidence</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                            </div>
                        </div>
                </form>
                <a style="margin-top: 30px" href="#" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Submit</span>
                </a>
            </div>
        </div>
    </div>

    {% endblock %}
