{% extends "non_home_layout.html" %}
{% block content %}
<!-- Page Heading -->
<!DOCTYPE html>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <form role="form">
                    <div class="form-group">
                        <label for="email">Q1:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q2:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q3:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Q4:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <form class="md-form">
                        <div class="file-field">
                            <div class="btn btn-pink btn-rounded btn-sm float-left">
                                <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Choose file</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                            </div>
                        </div>
                    </form>
                    <div class="p-3">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
