{% extends "layout.html" %}
{% block content %}


<div class="container">
    <h2 class="mb-4 signup-title">Kilmore East Bushfire</h5>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="row">
                <div class="col-lg-7" style="padding-left: 45px; padding-top: 35px">
                    <h1 class="h4 text-gray-900 mb-4">Case Description</h1>
                    <p>
                        Kilmore was one of 20 level 3 incident control centres pre-designated across the state in
                        anticipation of the conditions
                        forecast for 7 February. There were two such centres in Country Fire Authority Region 12—at
                        Kilmore and Alexandra.
                        As with other fires, the pre-designated level 3 ICCs were meant to be ready for a ‘warm or hot
                        start’; this meant that
                        personnel were to be physically in place and that facilities and equipment had been tested and
                        were ready for use.15
                        Both CFA Chief Officer Mr Russell Rees and CFA State Duty Officer Mr Gregory Paterson believed
                        Kilmore ICC was
                        ready for a ‘hot start’ as a level 3 ICC on 7 February, with the main incident management team
                        staff—including an
                        Incident Controller and operations, planning and logistics staff—in position.16
                    </p>

                    <h1 class="h4 text-gray-900 mb-4" style="padding-top: 40px">Eligibility</h1>
                    <p>
                        To be eligible to claim settlements costs for the Kilmore bushfire. You have to have suffered a
                        financial, physical or psychological loss.
                        This would entail having to prove that you actually suffered these losses. Things such as
                        witness accounts, medical certificates, doctor's notes are all helpful.
                        However, proof of damage of property requires..
                    </p>

                    <h1 class="h4 text-gray-900 mb-4" style="padding-top: 40px">Location</h1>
                    <img src="static/kilmore.png" style="border-radius: 20px; padding-bottom: 50px" width="550px"/>
                </div>
                <div class="col-lg-5" style="padding-right: 65px; padding-top: 35px; padding-left: 50px">

                    <!-- PROGRESS BAR -->
                    <h1 class="h4 text-gray-900 mb-2">13 Days Left To Sign up</h1>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h1 class="h4 text-gray-900 mb-4" style="padding-top: 20px">Sign Up To Be A Plaintiff</h1>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                       placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                                       placeholder="Password">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"
                                       placeholder="Repeat Password">
                            </div>
                        </div>
                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </a>
                        <hr>
                        <a href="index.html" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                    </form>
                </div>
            </div>
        </div>
</div>


{% endblock %}
