{% extends "layout_firm.html" %}
{% block content %}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <h1 class="m-0 font-weight-bold text-gray-700">Update Claimants</h1><br>
                <a href="firm.html">
                <img src="static/video_page_highres.png" style="max-height: 100%; max-width: 100%;">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}